victoriafresh.rb/*.gem
victoriafresh.android/VictoriaFresh/local.properties
victoriafresh.android/VictoriaFresh/build/
victoriafresh.android/VictoriaFresh/*.iml
contributors.txt
sh.zzaqsy/
victoriafresh.android/VictoriaFresh/.gradle/
victoriafresh.android/VictoriaFresh/.idea/
VictoriaFreShAndroidUsageExample
ProtoBufMessage/.directory
.hg/
.hg_archival.txt
.hgignore
MarkDownLearn/
Material/
Note/
PathnameLearn.rb/
.directory
